* {
  box-sizing: border-box;
  list-style-type: none;
}

.job-details-card {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  background-color: black;
  height: 120vh;
}

.search-input {
  padding: 7px;
  background-color: #121212;
  color: #f4f4f4;
  font-family: 'Roboto';
  width: 300px;
  height: 38px;
  border: 1px solid #f4f4f4;
  margin-left: 25px;
}

.search-icon {
  padding: 7px;
  background-color: transparent;
  color: white;
  border: 1px solid #f4f4f4;
}
.search-input-card {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .sm-search-input {
    display: none;
    align-items: center;
  }
}

.hr-element {
  color: white;
  width: 80%;
  margin: 15px;
}
.profile-card-container {
  height: 170px;
  width: auto;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-card {
  padding-top: 20px;
}
.loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-heading {
  color: #6366f1;
  font-size: 22px;
  font-family: 'Roboto';
}
.profile-short-bio {
  font-size: 14px;
  font-family: 'Roboto';
  margin-top: 15px;
  color: black;
}
.employment-type-list {
  list-style-type: none;
  margin: 0px;
}

.employment-checkbox {
  margin: 10px;
}

.employment-type-para {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .employment-type-para {
    margin-left: 30px;
  }
}

.employment-card-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 270px;
  background-color: black;
  color: white;
}

.salary-card-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 270px;
  background-color: black;
  color: white;
}

.joblist-card {
  height: 100vh;
  overflow: auto;
  width: auto;
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .lg-search-input {
    display: none;
  }
  .job-details-card {
    flex-direction: column;
    width: auto;
    padding-right: 50px;
    height: auto;
  }
  .profile-card-container {
    margin: 10px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}
