.job-list {
  margin: 5px;
  width: 100%;
  min-height: 130px;

  padding: 10px;
}

.job-card-container {
  width: 100%;
}

.linked-toggle {
  text-decoration: none;
}

.card-top {
  display: flex;
  align-items: center;
}

.paragraph {
  width: auto;
}

.second-line-container {
  align-items: center;
}

.first-line-container {
  align-items: center;
}
