* {
  box-sizing: border-box;
  margin: 0px;
}
.job-card-container {
  background-color: #2c364c;
  padding: 10px;
  height: 300px;
  width: 100%;
  color: white;
  border-radius: 10px;
}
.second-line-top-container {
  display: flex;
  align-items: center;
}
.second-line-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.first-line-bottom-container {
  display: flex;
  align-items: center;
}
.employment-para {
  margin: 10px;
}

.first-line-container {
  display: flex;
}

.logo-image {
  height: 50px;
  margin: 10px;
}

.rating-para {
  margin-left: 10px;
}

.para-location {
  margin: 10px;
}

.card-description {
  margin: 10px;
}

.paragraph {
  margin: 10px;
}
